<div class="page-header">
  <h1>作成完了</h1>
</div>
<p class="text-primary"><b>作成が完了しました。</b></p>
<p class="text-primary"><b>下記ボタンをクリックしてログインしてください。</b></p>

<%= link_to 'ログインする', top_index_path, :class => 'btn btn-success' %>
